
body{font-size:14px;}

.header{height:5px; background-color:beige; }
.nav-top{height:50px; background-color:beige;}
.nav-input input{margin:5px 0 0 40px;}
.nav-input input[type="text"] {font-size:14px;}
#nav-add{margin:5px 0 0 5px;font-size:14px; color:#fff; background-color:orangered; border-color:grey;}

.content{}
.menu{background-color:floralwhite}
.menu ul li{padding:2px 5px 2px 5px;}

.section{background-color:green;}
.article{background-color: ghostwhite; height:600px; overflow:scroll; overflow-x:hidden;}
.article div{display:inline-flex;}
.article-list{width:90%; margin-top:20px;}

.article-record{margin-bottom: 0.5px; padding:2px 2px 2px 2px; border-style:none;background-color:transparent;}
.article-handle{margin: 0px 10px 0px 10px;}
.article-handle:hover{cursor:grab}
.article-handle:active{cursor:grabbing}
.article-content{padding:10px 20px 10px 20px; font-size:15px;}

.article-checkbox-label{width:100%; word-break:break-all;}
.article-checkbox-label:hover{cursor:pointer}
.article-checkbox-edit{width:auto; background-color:white; border-style:none;}
.article-checkbox-edit:hover{background-color:whitesmoke}

.article-toolbox{padding-top:7px;}
.article-toolbox:hover{cursor:default;}
.article-toolbox-edit{color:lightgrey}
.article-toolbox-edit:hover{color:dodgerblue; cursor:pointer}
.article-toolbox-del{color:lightgrey}
.article-toolbox-del:hover{color:red; cursor:pointer}


.aside{background-color:mediumspringgreen;height:80%;display:none;}

.footer{background-color:beige; padding:10px; text-align: center;}

.sortable-placeholder {width:90%;margin-left:50px; height:50px; border-width:0px; border-style:none; background-color:transparent; }